<p>
Hola {{user.get_full_name}},
</p>

<p>
Junto con saludar, te escribimos porque hemos recibido tu solicitud de inscripción a la Red.
</p>

<p>
En este sentido, te informamos que la Red es un espacio para innovación.
</p>

<p>
Sin embargo, te estaremos contando sobre las actividades y charlas que estén orientadas a todos quienes están interesados en estas temáticas, y además te invitamos a conocer las otras iniciativas del Laboratorio de Gobierno, a través del siguiente link: <a href="https://www.lab.gob.cl/">Laboratorio de gobierno</a>.
</p>

<p>
Que estés muy bien.
Saludos!
</p>
