{% load i18n %}{% autoescape off %}
<p>
¡Hola {{user.get_full_name}},
</p>

<p>
Junto con saludar, te escribimos porque hemos recibido tu solicitud de inscripción a la Red.
</p>

<p>
En este sentido, te informamos que la Red es un espacio para servidores públicos que se desempeñan dentro del Estado, por lo que considerando la información que nos enviaste, pudimos constatar que tu solicitud no responde a este perfil.
</p>

<p>
De todas formas, te invitamos a conocer las otras iniciativas del Laboratorio
de Gobierno, a través del siguiente link: <a href="https://www.lab.gob.cl/">Laboratorio de gobierno</a>
</p>

<p>
Que estés muy bien.
Saludos!
{% endautoescape %}
