doctype 5

- load compress
- load staticfiles
- load i18n static

html(lang="{{ LANGUAGE_CODE }}")
  head
    meta(charset="utf-8")
    title
      | Red:
      | {% trans "Password reset" %}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="http://lab.gob.cl")

    if debug
      link(href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}", rel="stylesheet")
    else
      link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")

    {% compress css %}
    link(href="{% static 'css/bootstrap.less' %}", rel="stylesheet", type="text/less", charset="utf-8")
    link(href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}", rel="stylesheet")
    link(href="{% static 'bower_components/select2/dist/css/select2.css' %}", rel="stylesheet")
    link(href="{% static 'css/site.less' %}", type="text/less", rel="stylesheet", charset="utf-8")
    {% endcompress %}

    //if lte IE 7
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    //if lt IE 9
    script(src="{% static 'bower_components/respond/respond.min.js' %}")

  body.register
    .container
      if messages
        .row
          for message in messages
            .alert(class="alert-{{ message.tags }}") {{ message }}
    .container
      h1 {% trans "Password reset" %}

      .alert.alert-info {% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}

      form.form-horizontal(action="", method="post")
        {% csrf_token %}
        {{ form.email.errors }}
        .form-group
          label.control-label.col-sm-3(for="id_email") {% trans 'E-mail address' %}:
          .col-sm-9
            input#id_email.form-control(maxlength="254", name="email", type="email",
            value="{%if form.email.value %}{{ form.email.value }}{% endif %}")
        .form-group.submit-group
          .col-sm-12.text-right
            input.btn.btn-primary(type="submit", value="{% trans 'Reset my password' %}")
    include includes/footer.jade

    {% if debug %}
    script(src="{% static 'bower_components/jquery/dist/jquery.min.js' %}")
    {% else %}
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    {% endif %}

    {% compress js %}
    script(src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}")
    script(src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}")
    script(src="{% static 'bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js' %}")
    script(src="{% static 'bower_components/select2/dist/js/select2.min.js' %}")
    script(src="{% static 'bower_components/select2/dist/js/i18n/es.js' %}")
    script(src="{% static 'js/vendor/oop.js' %}")
    script(src="{% static 'js/app.js' %}")
    script(src="{% static 'js/form.js' %}")
    {% endcompress %}
