extends base.jade

- load staticfiles

block title 
  | Terminos y condiciones

block content
  
  .container
    br
    h2.text-center POLÍTICAS DE PRIVACIDAD
    br
    h2 TÉRMINOS GENERALES
    p La entidad responsable de este sitio, TU INSTITUCIÓN, entidad legalmente constituida de acuerdo a la Leyes de la República de Chile, informa a los usuarios (en adelante el “Usuario” o los “Usuarios”), conforme a lo establecido en el D.S. Nº 1, de 2015, del Ministerio Secretaría General de la Presidencia, que Aprueba norma técnica sobre sistemas y sitios web de los órganos de la administración del Estado,  acerca de su Política de Privacidad del portal de Internet

    p Para efectos de la presente "Política de Privacidad", se entiende por Usuario a la persona que voluntariamente se registre en en los formularios especialmente establecidos al efecto. En tanto, Visitante es aquella persona que accede libremente a la información disponible sin necesidad de registrarse previamente.

    p TU INSTITUCIÓN se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como a prácticas de la industria. En dichos supuestos, TU INSTITUCIÓN anunciará en esta página los cambios introducidos con razonable antelación a su puesta en práctica.

    h3 1.1 Aceptación de las Condiciones de Uso

    p Para todos los efectos legales y por el mero hecho de acceder a los productos web de TU INSTITUCIÓN, el Usuario acepta y reconoce que ha revisado y que está de acuerdo con la Política de Privacidad, en lo que en Derecho corresponda. Será responsabilidad del Usuario la lectura y acatamiento de la Política de Privacidad, cada vez que los utilice. Asimismo,  el Usuario acepta y reconoce la circunstancia relativa a que TU INSTITUCIÓN  podrá en cualquier momento modificar el todo o parte de las presentes Políticas de Privacidad, conforme la legislación vigente o políticas del organismo.

    h3 1.2 Solución de Controversias

    p Todas las controversias y/o reclamos que puedan surgir por el uso de los productos web de TU INSTITUCIÓN implican la aceptación y sometimiento a las Leyes de la República de Chile. Todas las controversias y/o reclamos que surjan del uso de éstos serán resueltos por tribunales competentes en Santiago, Chile.

    h3 1.3 Responsabilidad por las Opiniones e Informaciones vertidas en el Portal

    p TU INSTITUCIÓN no se responsabiliza por las informaciones y opiniones emitidas en los productos web de TU INSTITUCIÓN, cuando no sean de su exclusiva emisión. Las informaciones y opiniones emitidas por personas diferentes a éstos, no necesariamente reflejan la posición de TU INSTITUCIÓN, incluyendo sin limitación a sus empleados, directores, asesores y proveedores. En consecuencia, ésta no se hace responsable por ninguna de las informaciones y opiniones que se emitan en sus productos web, en las condiciones descritas.

     
    h2 2. USO DEL CONTENIDO
    h3 2.1 Uso correcto de los Contenidos

    p El Usuario se obliga a utilizar los Contenidos de forma diligente, correcta y lícita. En general se compromete a no utilizar los Contenidos de forma ilícita y para fines contrarios a la Ley o el Orden Público. Entre otras obligaciones, a manera meramente referencial y sin que implique limitación alguna, al Usuario se le prohíbe especialmente: (a) suprimir, eludir o manipular el “copyright” y demás datos identificadores de los derechos de los productos web de TU INSTITUCIÓN o de sus titulares, incorporados a los Contenidos, así como los dispositivos técnicos de protección, las huellas digitales o cualesquiera mecanismos de información que pudieren contener los Contenidos; (b) no respetar la privacidad, opiniones, punto de vista, ideología, religión y etnia de otros Usuarios, así como aquellas otras opciones personales o aspectos pertenecientes su esfera de intimidad y privacidad; (c) usar los Contenidos con propósitos comerciales, incluyendo la promoción de cualquier bien o servicio; (d) proporcionar información obscena, difamatoria, dañina o conocidamente falsa; (e) obstaculizar, entorpecer, restringir o limitar el uso de los Contenidos por parte de otros Usuarios; (f) en general, el Usuario deberá abstenerse de utilizar los productos Web de TU INSTITUCIÓN de manera que atente contra los legítimos derechos de terceros, o bien que pueda dañar, inutilizar, sobrecargar o deteriorar los Contenidos o impedir su normal uso por parte de otros Usuarios.

    h3 2.2 Utilización y Reproducción de los Contenidos

    p Se permite utilizar y/o reproducir Contenidos, bajo el cumplimiento de las siguientes reglas: (a) la utilización y/o reproducción debe ser compatible con el objetivo informativo, educacional y recreativo de los productos web de TU INSTITUCIÓN; (b) la información no puede utilizarse con fines comerciales; (c) los Contenidos de cada uno de los productos, tales como datos, documentos, información, gráficos o imágenes, no pueden ser modificados de forma alguna, copiados o distribuidos separadamente de su contexto, texto, gráfico o imágenes que lo acompañen. En resumen se permite el Uso de los contenidos con fines estrictamente informativos, académicos, educacionales, de investigación o personales, que en ninguna caso impliquen la utilización de los mismos para fines de lucro.

    h3 2.3 Utilización de Claves de Acceso y Registro de Usuarios

    p Los Contenidos de los productos Web de TU INSTITUCIÓN tienen carácter gratuito para los Usuarios y no exigen la suscripción previa o registro del Usuario. Sin perjuicio de lo anterior, el acceso a ciertos Contenidos sólo puede hacerse mediante el Registro del Usuario en la forma que se indique expresamente. En virtud de lo expuesto, se proveerán algunos de los Contenidos de los productos web de TU INSTITUCIÓN a los Usuarios registrados en el formulario dispuesto para estos fines.

    h3 2.4 Sistema de Registro de Usuario

    p El Usuario que desee recibir informaciones especiales de TU INSTITUCIÓN , tales como Mailing, cartas o fotografías, además de otros insumos nuevos o actualizados en el tiempo según las demandas de los Usuarios, deberá inscribirse a través del Formulario de Registro dispuesto para estos fines, en los productos que dispongan de un Sistema de Registro.
    p El Usuario será el responsable de la veracidad de los datos entregados, así como también de la actualización de los mismos. El Usuario podrá eliminar libremente su registro cuando lo estime apropiado, mediante un sistema de de inscripción de la base de datos especialmente habilitado para estos efectos, en los casos en que se cuente con un Sistema de Registro.

     
    h2 3. PROTECCIÓN DE DATOS PERSONALES
    p Todo tratamiento de datos personales realizado por TU INSTITUCIÓN se realizará conforme a lo dispuesto en el artículo 19 N° 4 de la Constitución Política de la República y a las normas pertinentes de la Ley N° 19.628 sobre protección de la vida privada y sus modificaciones posteriores, asegurando la confidencialidad de la información  de los usuarios que se registren como tales en el sitio Web mediante el o los formulario(s) establecido(s) para esos efectos.

    h3 3.1 Utilización de la información obtenida de los usuarios

    p La recogida y tratamiento automatizado de los Datos Personales tiene como finalidad el mantenimiento de la relación establecida con TU INSTITUCIÓN ; la gestión, administración, prestación, ampliación y mejora de los servicios en los que el Usuario decida suscribirse; darse de alta o utilizar la adecuación de dichos servicios a las preferencias y gustos de los Usuarios; el estudio de la utilización de los servicios por parte de los Usuarios; el diseño de nuevos servicios relacionados con dichos servicios; el envío de actualizaciones de los servicios; el envío, por medios tradicionales y electrónicos, de información técnica, operativa y comercial acerca de productos y servicios ofrecidos por los productos Web de TU INSTITUCIÓN , actualmente y en el futuro. En este sentido, cabe precisar que TU INSTITUCIÓN no utiliza el sistema de inserción automática de cookies. La finalidad de la recogida y tratamiento automatizado de los Datos Personales incluye igualmente el envío de formularios de encuestas, que el Usuario no queda obligado a contestar.

    h3 3.2 Privacidad de los Datos Personales

    p TU INSTITUCIÓN se preocupa por la protección de datos de carácter personal de sus Usuarios, por lo cual, asegura la confidencialidad de los mismos, y no los transferirá o cederá o de otra manera proveerá, salvo en aquellos casos en que la legislación vigente así lo indique. El uso que el Usuario haga de los productos web de TU INSTITUCIÓN puede ser almacenado con el objeto de generar una información estadística respecto a la utilización de las secciones, partes y en general, del Contenido de éstos, de manera de determinar los números totales y específicos, por sección, de visitantes a los productos web de TU INSTITUCIÓN , con el objetivo principal de conocer las necesidades e intereses de los Usuarios y otorgar un mejor servicio.

    p Los Usuarios determinan libre y voluntariamente si desean facilitar los datos personales que se les puedan requerir o que se puedan obtener de los Usuarios, con ocasión de la suscripción o alta en algunos de los servicios ofrecidos en los productos Web de TU INSTITUCIÓN .
    p Los Usuarios tienen reconocidos y podrán ejercitar los derechos de acceso, cancelación, rectificación y oposición, así como tienen reconocido el derecho a ser informados de las sesiones realizadas, contactándose con TU INSTITUCIÓN a través de los correos electrónicos habilitados en cada uno de sus productos Web.

    h3 3.3 Sobre la seguridad de la información

    p TU INSTITUCIÓN ha adoptado los niveles de seguridad de protección de los Datos Personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales facilitados por los Usuarios. Ello no obstante, el Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.

    hr 
     
    h2 NOTA FINAL
    p Se deja constancia que por esta Política de Privacidad, TU INSTITUCIÓN no está suscribiendo contrato ni compromiso alguno que lo obligue con sus usuarios y/o visitantes, teniendo una finalidad exclusivamente informativa.
  div.container-fluid
    {% include 'includes/footer.jade' %}    
block stylesheets
  link(rel="stylesheet", href="{% static 'bower_components/cropperjs/dist/cropper.min.css' %}")

block javascripts
  script(src="{% static 'bower_components/cropperjs/dist/cropper.min.js' %}")
  script(src="{% static 'js/jquery.maskedinput.min.js' %}")
  script(src="{% static 'js/format_phone.js' %}")
  script(src="{% static 'js/accounts/edit.js' %}")

block active_users
