extends base.jade


- load staticfiles

block title 
  | Qué es la Red
  block content
      section.intro-whats
        div.container
            h1 ¿Qué es la Red?
            p  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
        
      section.slide
        div.container
          div.row
            .col-sm-6.col-xs-12   
              
              h3  Lorem ipsum dolor sit amet
              p  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.

              h3  Aprendiendo Colectivamente
              p  Facilitaremos espacios de aprendizaje entre pares, donde sea posible compartir conocimientos, enfoques y metodologías, además de buenas prácticas que permitan el desarrollo de nuevos procesos e iniciativas.
              h3  Conectando Motivaciones por Innovar
              p  Organizaremos instancias de generación de redes entre los distintos miembros de la Red, a través de encuentros y talleres para fomentar la colaboración e incrementar el capital social.
              h3  Visibilizando 
              p  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
              hr
              h3  ¿Qué puedes hacer en la Plataforma web de la Red ?
              p La Plataforma de la Red  es un espacio dónde puedes:
              ul
                li Publicar en el muro de inicio todas las novedades en innovación pública y estar al tanto de todas las actividades y opiniones relacionadas.
                li Conocer, conectarte y compartir con todos los integrantes de la Red.
                  ul
                    li Puedes buscar a las personas que la integran, conocer sus perfiles y escribirles directamente.
                    li Puedes buscar a las instituciones que la integran y saber quienes de esa institución son parte.
                li Inscribirte en las actividades que se realizarán en tu región y ver el detalle de cada una de estas instancias.
                li Descargar el material utilizado en cada una de las actividades y conocer las personas que participaron de esta instancia.
                li Publicar tus propias actividades y difundirlas entre todos los miembros de la Red.
              p Además, próximamente podrás: 
              ul
                li Encontrar mucha bibliografía relacionada, y conocer distintas herramientas y metodologías de innovación que te ayuden a potenciar tu rol.
                li At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas


              
              

            .col-sm-6.col-xs-12
              figure
                img.img-responsive(src="http://via.placeholder.com/720x480")
              figure
                img.img-responsive(src="http://via.placeholder.com/720x480")
              figure
                img.img-responsive(src="http://via.placeholder.com/720x480")
          div.row
            .col-sm-12.col-xs-12 
            




 


              
            
            
            
    div.container-fluid
      {% include 'includes/footer.jade' %}    
      

block active_users    
