extends base.jade

- load staticfiles

block javascripts
  script(src="{% static 'bower_components/cropperjs/dist/cropper.min.js' %}")
  script(src="{% static 'js/jquery.maskedinput.min.js' %}")
  script(src="{% static 'js/format_phone.js' %}")
  script(src="{% static 'js/accounts/edit.js' %}")
  script(src="{% static 'js/institution_selection.js' %}")

block title 
  | Personas

block content
  .container.hidden-xs
    ul.page-breadcrumb.mar-top
      li
        a(href="{% url 'home' %}") INICIO
        i.fa.fa-angle-right.li-breadcrumb
      li
        a(href="{% url 'people_list' %}") INTEGRANTES
        i.fa.fa-angle-right.li-breadcrumb
      li
        a(href="{% url 'people_list' %}") PERSONAS
        i.fa.fa-angle-right.li-breadcrumb
      li.breadcrumb-not-selected
        a(href="{{participant.get_absolute_url}}")
          span &nbsp; {{ participant.get_full_name }}
          if not participant.is_active
            |  (Desactivada)

  .container.header-section.update-user.section
    .hidden-xs.col-sm-3
      if participant.avatar
        .img-circle.user-avatar-lg(
          style="background-image: url('{{ participant.avatar.url }}');"
        )
      else
        .text-center
          i.fa.fa-user-circle.text-primary.user-icon(aria-hidden="true")
    .col-xs-12.col-md-9
      - include 'includes/participant_form_nav.jade'
      - include form_template

block stylesheets
  link(rel="stylesheet", href="{% static 'bower_components/cropperjs/dist/cropper.min.css' %}")
