<div style="width: 100%; background-color: #F0F0F0;">
  <div style="width: 570px; margin: 0 auto; padding: 25px;">
    <div style="display:inline-block; margin-left:10px;">
      <img src="{{protocol}}://{{domain}}/static/img/Logo-Red-negro.png" style="width:70px; height:32px; margin-bottom:15px;">
      <p style="font-family: Brown, sans-serif; font-weight:bold; font-size: 15px; line-height: 24px; margin:0;">
        Red
      </p>
      <p style="font-family: Brown, sans-serif; font-weight:bold; font-style:italic; font-size: 15px;color: #464646; line-height: 24px; margin:0;">
        Creando innovación
      </p>
    </div>
    <div style="float:right;">
      <img src="{{protocol}}://{{domain}}/static/img/Isologos_Gobierno-01.png" style="width:70px">
      <img src="{{protocol}}://{{domain}}/static/img/Logo-Laboratorio-de-Gobierno-01.png" style="width:100px; margin-left:15px;">
    </div>
  </div>
</div>

<div style="width: 100%; background-color: #F0F0F0;">
  <div style="width: 250px; margin: 0 auto;">

    <p style="font-family: arial,sans-serif; font-size:14px; text-align:center; padding-top:20px; margin-top:0;">
      SÍGUENOS EN REDES SOCIALES
    </p>
    <div style="padding:10px 0 25px; text-align:center;">
      <a style="display:inline-block" href="#">
        <img src="{{protocol}}://{{domain}}/static/img/share_fb.png">
        <div style="color:#202020; font-family:Arial; font-size:11px; font-weight:normal; text-decoration: none;">
          Facebook
        </div>
      </a>
      <a style="display:inline-block" href="#">
        <img src="{{protocol}}://{{domain}}/static/img/share_tw.png">
        <div style="color:#202020; font-family:Arial; font-size:11px; font-weight:normal; text-decoration: none; text-align:center;">
          Twitter
        </div>
      </a>
      <a style="display:inline-block" href="#">
        <img src="{{protocol}}://{{domain}}/static/img/share_inst.png">
        <div style="color:#202020; font-family:Arial; font-size:11px; font-weight:normal; text-decoration: none; text-align:center;">
          Instagram
        </div>
      </a>
      <a style="display:inline-block" href="#">
        <img src="{{protocol}}://{{domain}}/static/img/share_ln.png">
        <div style="color:#202020; font-family:Arial; font-size:11px; font-weight:normal; text-decoration: none; text-align:center;">
          Linkedin
        </div>
      </a>
    </div>
  </div>
</div>


<div style="width: 100%; background-color: #fff; height:100px; padding-top:10px;">
  <div style="width: 570px; margin: 0 auto;">
    <p style="font-family: Lato, sans-serif; font-weight:bold; font-size: 14px;color: #464646;line-height: 20px; text-align:center; margin-bottom:0">
      2017 - <a href="#">Red</a>
    </p>
    <p style="font-family: Lato,sans-serif; font-size: 12px; color: #000000; line-height: 20px; text-align:center; margin-top:0;">
      Has recibido este correo porque perteneces a la Red, si no quieres seguir recibiendo el resumen semanal,
       <a href="#">actualiza tu perfil</a> en la Red.
    </p>
  </div>
</div>
