extends form.jade

- load i18n
- load static

block javascripts
  script(src="{% static 'js/dynamic_content_create.js' %}")

block breadcrumbs
  li
    a(href="{% url 'dynamic_content_list' %}")
      | {{opts.verbose_name_plural.capfirst}}

block extra_content
  .textarea-hint
    | Ac치 puedes editar el texto que saldr치 junto a la imagen. Si quieres borrar el estilo (colores, tama침o de letra, etc) puedes presionar el bot칩n de "borrar estilo" 
    span 
      img(src="{% static 'img/remove_styles_btn.png' %}")
