extends base.jade

block title 
  | Instituciones
  
block content
  .container
    ul.page-breadcrumb.mar-top.hidden-xs
      li
        a(href="{% url 'home' %}") INICIO
        i.fa.fa-angle-right.li-breadcrumb
      li
        a(href="/events") EVENTOS
        i.fa.fa-angle-right.li-breadcrumb
      li
        a(href="{{ activity.event.get_absolute_url }}") {{ activity.event.name }}
        i.fa.fa-angle-right.li-breadcrumb
      li.breadcrumb-not-selected
        span &nbsp; {{ activity.name }}
    h2.title-people Información general
    include institutions/include/institution_form.jade
    .row
      .col-xs-12.col-sm-12.col-md-10.col-lg-10
        .text-right.action-btn.btn-delete
          a.text-danger(href="{% url 'delete_activity' activity.pk %}")
           | Eliminar actividad
