extends admin/change_form.html

- load i18n

block object-tools-items
  {{ block.super }}

  li.btn-group
    a#loginas-link.btn.btn-default(href="javascript:void(0)" title="{% trans 'Log in as user' %}")
      i.glyphicon.glyphicon-user
      |  {% trans 'Log in as user' %}

block js
  {{ block.super }}

  script.
    django.jQuery(function() {
      django.jQuery('#loginas-link').click(function() {
        django.jQuery('#loginas-form').submit();
        return false;
      });
    });

block content
  {{ block.super }}

  form#loginas-form(method='post' action="{% url 'loginas-user-login' object_id %}")
    | {% csrf_token %}
