extends form.jade

- load i18n

block form_fields
  {% include "includes/form.jade" with form=form %}
  {% include "includes/form.jade" with form=tags_form %}
  {% include "includes/form.jade" with form=documentation_file_form %}
