- load bootstrap

form(method="POST", action="")
  {% csrf_token %}
  br
  {{ form.password|bootstrap }}
  {{ form.password2|bootstrap }}
  hr.hr-action
  .text-right.action-btn
    a.btn.btn-link(href="{{ participant.get_absolute_url }}")
      | Cancelar Cambios
    button.btn.btn-primary(type="submit")
      | Guardar cambios
